<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Single</title>
<style type="text/css" media="screen">
	.wrap {
		margin: 0 auto;
		width: 800px;
	}
	section {
		width: 525px;
		margin-right: 25px;
		float:left;	
	}
	aside {
		width: 250px;
		float: right;
	}
	footer {
		clear:both;
		border-top: 1px solid #e3e3e3;
	}
</style>
</head>

<body>
	<div class="wrap">
    	<header>
        <h1>This is a header</h1>
        </header>
        <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at enim id leo ornare facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris lacus dui, sagittis eu ultricies non, fringilla quis diam. Ut rhoncus mattis erat. Donec viverra semper urna non sodales. Suspendisse potenti. Proin ultricies urna ut sem scelerisque sollicitudin. Phasellus tristique est at ipsum accumsan a scelerisque lacus congue. Vestibulum facilisis blandit felis, eget rhoncus neque accumsan eu. Phasellus nulla est, cursus et posuere vel, ornare vel orci. Ut tellus neque, tincidunt et tincidunt in, bibendum eget ipsum. Fusce aliquam lobortis mi ac porta. Duis iaculis tellus et enim tempus fringilla. Praesent sed massa arcu. Donec quis enim id turpis pulvinar pulvinar non sed nulla.</p>
        <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci. Proin auctor nulla id dui laoreet placerat. Cras volutpat luctus nisi quis eleifend. Fusce scelerisque gravida sollicitudin. Duis vel tellus sit amet orci ornare consectetur at sed eros. Praesent in mauris lacus. Nam iaculis vulputate urna eget congue.</p>
        </section>
        <aside>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at enim id leo ornare facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris lacus dui, sagittis eu ultricies non, fringilla quis diam. Ut rhoncus mattis erat. Donec viverra semper urna non sodales. Suspendisse potenti. Proin ultricies urna ut sem scelerisque sollicitudin. Phasellus tristique est at ipsum accumsan a scelerisque lacus congue. Vestibulum facilisis blandit felis, eget rhoncus neque accumsan eu. Phasellus nulla est, cursus et posuere vel, ornare vel orci. Ut tellus neque, tincidunt et tincidunt in, bibendum eget ipsum. Fusce aliquam lobortis mi ac porta. Duis iaculis tellus et enim tempus fringilla. Praesent sed massa arcu. Donec quis enim id turpis pulvinar pulvinar non sed nulla.</p>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci. Proin auctor nulla id dui laoreet placerat. Cras volutpat luctus nisi quis eleifend. Fusce scelerisque gravida sollicitudin. Duis vel tellus sit amet orci ornare consectetur at sed eros. Praesent in mauris lacus. Nam iaculis vulputate urna eget congue.</p>
        </aside>
        <footer>
        <p>This is a footer</p>
        </footer>
    </div>
</body>
</html>
