<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Single</title>
<style type="text/css" media="screen">
	.wrap {
		margin: 0 3%;
	}
	
	article {
		width:220px;
		padding:10px;
		margin:10px;
		float: left;
		background: #f3f3f3;
	}
	footer {
		clear:both;
	}
</style>
</head>

<body>
	<div class="wrap">
    	<header>
            <h1>This is a header</h1>
        </header>
        <section>
			<article>
            <h2>Title</h2>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci.</p>
            </article>
			<article>
            <h2>Title</h2>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci.</p>
            </article>
			<article>
            <h2>Title</h2>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci.</p>
            </article>
			<article>
            <h2>Title</h2>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci.</p>
            </article>
			<article>
            <h2>Title</h2>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci.</p>
            </article>
			<article>
            <h2>Title</h2>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci.</p>
            </article>
			<article>
            <h2>Title</h2>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci.</p>
            </article>
			<article>
            <h2>Title</h2>
            <p>Sed est urna, interdum dignissim cursus pellentesque, interdum eu nulla. Sed volutpat pretium malesuada. Nulla eu dui a massa fringilla ornare. Integer sit amet mauris vitae arcu tincidunt eleifend. Praesent lobortis, velit sit amet viverra consectetur, tortor turpis congue dolor, tristique ultricies sem elit eu orci.</p>
            </article>
        </section>
        <footer>
            <p>This is a footer</p>
        </footer>
    </div>
</body>
</html>
